{% extends '::layout.html.twig' %}

{% block body -%}
<div class="container">
	<div class="col-md-12">
        <div class="margin-none">
            <h2> Nuevo Profesional </h2>
        </div>	
    <h1>Califcompetencia creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('califcompetencia') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
