{% extends 'layout.html.twig' %}
{% block body %}
	<div class="">
        <div class="col-md-12">
            <div class="margin-none">
            	<div class="container">
	                <div class="jumbotron">
						<center>
							<div class="row">
							   	<center>
							   	<div class="col-md-2"></div>
							   	<div class="col-md-4">
								  <h1>Hi Gilda!</h1>
								  <p>What do you like to do? <br><br>
								  </p>
								</div>
								<div class="col-md-2">
									<img src="{{ asset('public/img/garra.png') }}" style="height: 155px;">
								</div>
								<div class="col-md-4"></div>
							</div>
								<!-- Indicates a successful or positive action -->
								<a href="{{ path('profesional') }}"><button type="button" class="btn btn-success">List mutants</button></a>
								<a href="{{ path('profesional_new') }}"><button type="button" class="btn btn-success">Add Mutants</button></a>
								<a href="{{ path('proyecto_new') }}" type="button" class="btn btn btn-danger">New Misions</a>
						</center>
					</div>
				</div>
            </div>
        </div>
    </div>
{% endblock %}