{% extends 'layout.html.twig' %}
{% block body %}
	<div class="">
        <div class="col-md-12">
            <div class="margin-none">
                <h1>Bienvenido</h1>
            </div>
        </div>
    </div>
{% endblock %}