{% extends 'layout.html.twig' %}

{% block body %}
	
</div>
<div class="container">
  <form>
    <div class="checkbox">
      <div class="row">
        <div class="col-md-8">
          <h3>Nombre del proyecto</h3><input type="text" class="form-control" placeholder="Nombre del Proyecto">
          <h3>Agregar descripcion del proyecto</h3>
          <textarea class="form-control" rows="9"></textarea>
          <h3>Puesto: </h3>
          <label>
            <input type="checkbox">Developer
          </label>
          <label>
            <input type="checkbox">Tester
          </label>
          <label>
            <input type="checkbox">Analyst
          </label>
          <label>
            <input type="checkbox">Soport
          </label>
          <label>
            <input type="checkbox">Proyecto Manager
          </label>
          <br><br>
        </div>


      <div class="col-md-4">
        <h3>Especializado en: </h3><br>
        <label>
          <input type="checkbox">Diseño Web (HTML5, CSS3, Bootstrap, Materialize, JQuery, JavaSript)
        </label>
        <label>
          <input type="checkbox"> PHP
        </label><br>
        <label>
          <input type="checkbox"> .NET
        </label><br>
        <label>
          <input type="checkbox"> Java
        </label><br>
        <label>
          <input type="checkbox"> SQL
        </label>
        <br>
        <h3>Referencia:</h3>
        <label>
          <input type="checkbox"> Junior
        </label><br>
        <label>
          <input type="checkbox"> Junior Advance
        </label><br>
        <label>
          <input type="checkbox"> Semi Senior
        </label><br>
        <label>
          <input type="checkbox"> Semi Senior Advance
        </label><br>
        <label>
          <input type="checkbox"> Senior
        </label><br>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Cargar Proyecto</button>
  </form>
</div>
{% endblock %}