{% extends 'layout.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}
	<div class="row" style="">
		<div class="col-xs-12 col-md-4 col-lg-4 " ></div>
		<div class="col-xs-12 col-md-4 margin2">
			<h1 class="text-center" >Skills Admin</h1>
			<form method="POST" action="{{ path('gh_usuario_index') }}" name="formulario">
				<div class="form-group">
					<p ><input placeholder="Usuario" type="text" name="user" class="form-control" id="exampleInputEmail1" /></p>
					<p><input placeholder="Contraseña" type="password" name="pass" class="form-control" id="exampleInputEmail1"/></p>
					<input type="submit" class="btn btn-primary" value="Entrar">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Registrarte</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}